#navbar{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    /* padding: 1%; */
}

#u-nav{
    display: flex;
    text-align: right;
    justify-content: flex-end;
    /* border: 1px solid blue; */
    padding: 0% 1%;
}

#u-nav>div{
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid green; */
    width: 20%;
    align-items: center;
}

#u-nav button{
    background-color: black;
    color: white;
    height: 50%;
}

#b-nav{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 1%;
    align-items: center;
}

#searchbar{
    width: 50%;
    font-size: 20px;
    border: 1px solid black;
    padding: 0.75%;
}

#carticon{
    height: 50px;
}

img{
    width: 100%;
   
}

#imgbox{
   
    width: 10%;
}

#b-nav a{
    text-decoration: none;
    color: gray;
}

#b-nav a:hover{
    text-decoration: solid;
    color: black;
}

#cartcontainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* gap: 1px; */
    
    margin-top: 2%;
    padding: 1%;
}

#cartcontainer>div>img{
   height: 300px;
   width: 200px;
   background-color: white;
   display: block;
   margin: auto;
}

#cartcontainer>div>div{

width: 60%;
display: flex;
justify-content: space-evenly;
}

#cartcontainer>div{
    border: 1px solid gray;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #cartcontainer>div:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
} */

#cartcontainer>div>h3{
    margin-top: 1%;
}

#cartcontainer>div>h2{
    margin-top: 1%;
}

#cartcontainer>div>span{
    text-align: center;
   
    font-size: 30px;
    font-weight: 600;
}



#showtotal{
    padding: 1%;
    font-size: 30px;
    margin-top: 3%;
    text-align: center;
}



