#navbar {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    /* padding: 1%; */
}

#u-nav {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    /* border: 1px solid blue; */
    padding: 0% 1%;
}

#u-nav>div {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid green; */
    width: 20%;
    align-items: center;
}

#u-nav button {
    background-color: black;
    color: white;
    height: 50%;
}

#b-nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 1%;
    align-items: center;
}

#searchbar {
    width: 50%;
    font-size: 20px;
    border: 1px solid black;
    padding: 0.75%;
}

#carticon {
    height: 50px;
}

#carticon:hover {
    height: 55px;


}

img {
    width: 100%;

}

#imgbox {

    width: 10%;
}

#clothing {
    width: 95%;
    margin: auto;
    border: 1px solid black;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 30px;
    padding-left: 5%;
    font-weight: 700;
    background-color: rgb(252, 239, 252);
}

#b-nav a {
    text-decoration: none;
    color: gray;
}

#b-nav a:hover {
    text-decoration: solid;
    color: black;
}


#womencontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 1px; */
    margin-top: 5%;
    padding: 1%;
}

#womencontainer>div>img {
    height: 300px;
    width: 200px;
    background-color: white;
    display: block;
    margin: auto;
}

#womencontainer>div>button {
    display: block;
    margin: auto;
    background-color: black;
    color: whitesmoke;
    padding: 1%;
}

#womencontainer>div {
    border: 1px solid gray;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

#womencontainer>div:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#womencontainer>div>h3 {
    margin-top: 1%;
}

#womencontainer>div>h2 {
    margin-top: 1%;
}

#search {
    background-color: black;
    padding: 1%;
    color: whitesmoke;
}

@media all and (min-width:600px) and (max-width:900px) {
    #womencontainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width:100px) and (max-width:599px) {
    #womencontainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

#sort_price {
    width: 20%;
    font-size: 20px;
    font-weight: 400;
    margin-top: 2%;
    text-align: center;
    /* padding: 1%; */
    background-color: black;
    color: rgb(85, 255, 0);
}

#sort_price>option {
    border: 1px solid black;
}

#sort {
    display: flex;
    justify-content: space-evenly;
    /* padding: 1%; */
    height: 60px;
    /* border: 1px solid black; */
    margin-top: 1%;
    align-items: flex-end;
    }

#sort_color {
    width: 20%;
    font-size: 20px;
    font-weight: 400;
    margin-top: 2%;
    text-align: center;
    /* padding: 1%; */
    background-color: black;
    color: rgb(85, 255, 0);

}

#sort_material {
    width: 20%;
    font-size: 20px;
    font-weight: 400;
    margin-top: 2%;
    text-align: center;
    /* padding: 1%; */
    background-color: black;
    color: rgb(85, 255, 0);
}

#sort_brand {
    width: 20%;
    font-size: 20px;
    font-weight: 400;
    margin-top: 2%;
    text-align: center;
    /* padding: 1%; */
    background-color: black;
    color: rgb(85, 255, 0);

}

/* #sort{
    background-color: black;
    color: rgb(85, 255, 0);
    padding: 1px;
    
} */